.main-header {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: center;
  font-family:inco;
  border-bottom: 1px solid rgb(175, 170, 170);
}
.main-header>*{
  text-decoration: none;
}

.page-title {
  font-size: 2rem;
}

.main-nav {
  display: flex;
}

.main-nav>* {
  text-decoration: none;
  padding: 10px;
}

.main-nav>* {
  color: black;
}

.main-nav>*:hover {
  color: red;
}

.main-header .logo {
  color: #000;
  font-size: 1.875rem;
  letter-spacing: 0.2375rem;
}
