.v-select.email-select {
  min-width: 100px;
  font-size: 1rem;
  align-self: center;
}

.email-select .vs__dropdown-toggle {
  border-radius: 0;
}
.email-filter-inputs {
  display: flex;
}

.search-email {
  width: 160px;
  -webkit-appearance: none;
  border: 1px solid rgba(60, 60, 60, 0.26);
  outline: none;

  /* border-radius: 4spx;; */
  /* align-self: center; */
}
