.note-add {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    background-color: rgb(255, 231, 231);
    padding: 10px 0;
    width: 600px;
    margin: 0 auto 2em;
    max-width: 100%;
}

.add-button-container {
    display: flex;
    justify-content: space-between;
}

.add-input, .add-input>* {
    width: 100%;
    padding: 9px;
    border: none;
    border-radius: 4px;
}

.add-btn {
    padding: 0.5em 0.5em;
    background: none;
    border: 0;
    font-size: large;
    opacity: 0.6;
}

.add-btn:hover {
    opacity: 1;
}