.book-details-container {
    display: flex;
    justify-content: center;
    width: 70vw;
    margin: 0 auto;
}
.book-img{
    margin: 10px;
    max-width: 300px;
    min-width: 300px;
    max-height: 400px;
}
.book-details h1{
    margin-bottom: 20px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.sale {
    width: 100px;
    position: relative;
    bottom: 75px;
    left: -25px;
    transform: rotate(30deg);
}

@media only screen and (max-width: 750px) {
    .book-details-container {
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        padding: 10px;
    }
    .sale {
        width: 80px;
        position: absolute;
        bottom: 350px;;
        left: 10px;
    }
    .images{
        margin: 0 auto;
    }  
}