.email-details {
    display: flex;
    flex-direction: column;
    width: 700px;
    padding: 20px;
}

.email-det-subject {
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.from-det {
    display: flex;
}

.from-det span {
    margin-left: auto;
}

.email-body-det {
    padding: 10px 15px;
}