.user-msg {
    background-color: black;
    color: white;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
}

.success {
    background-color: rgb(61, 61, 253);
}

.error {
    background-color: red;
}