@import './lib/vue-select.css';
@import './pages/home-page.css';
@import './app-header.css';
@import './base.css';
@import './pages/home-page.css';

@import '../styles/apps/books/books-main.css';
@import '../styles/apps/keep/main.keep.css';
@import '../styles/apps/email/email-main.css';

@font-face {
  font-family: roboto reg;
  src: url(fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: roboto bld;
  src: url(fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: inco;
  src: url(fonts/Inconsolata/Inconsolata-Regular.ttf);
}

body {
  margin: 0;
}
* {
  box-sizing: border-box;
}


.main-footer {
  font-family: inco;
}
