@import "./lib/vue-select.css";

@import '/styles/apps/books/books-main.css';
@import '/styles/apps/keep/main.keep.css';
@import '/styles/apps/email/email-main.css';
@import '/styles/helpers.css';



@font-face {
  font-family: roboto reg;
  src: url(/styles/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: roboto bld;
  src: url(/styles/fonts/Roboto-Bold.ttf);
}

* {
  box-sizing: border-box;
}

html {
  font-family: monospace;
}
